name: Run Go Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  go-test:
    strategy:
      fail-fast: false
      matrix:
        operating-system:
          - windows-latest
          - macos-latest
          - ubuntu-latest

    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run tests
        run: go test -race -coverprofile=coverage.txt -covermode=atomic
